body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  background-color: rgb(54, 54, 53);
  color :aliceblue;
}
input{
  background-color: rgb(142, 136, 127);
}
input:focus {
  outline: none;
}