body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  background-color: aquamarine;
}
input{
  background-color: rgb(189, 115, 18);
}
input:focus {
  outline: none;
}